body {
    background: black;
}

@keyframes merigoround {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.loader {
    margin: 20vw 35vw;
    width: 20vw;
    height: 20vw;
    border: 5vw solid white;
    border-top: 5vw solid yellow;
    border-radius: 50%;
    animation-name: merigoround;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}