{% extends "user_base.html" %}

{% block user_title %}Add Item{% endblock %}

{% block user_body %}
    <h2 class="text add-title">Add Item</h2>
    <!--  Flashed Messages  -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="text item-flash">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!--  End of Flashed Messages  -->
    <div class="add-card">
        <div class="add-form">
            <form action="{{ url_for('add_item') }}" method="post" enctype="multipart/form-data" novalidate>
                {{ form.csrf_token }}
                {{ form.picture.label }}
                {{ form.picture() }}
                <div class="upload-home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload text uploadei-svg item" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                    </svg>
                    <p class="text file-title">No file chosen</p>
                </div>
                {{ form.name.label }}<br>
                {{ form.name() }}<br>
                {% for error in form.name.errors %}
                <p class="text add-instruction">{{ error }}</p>
                {% endfor %}
                {{ form.unique_name.label }}<br>
                {{ form.unique_name() }}<br>
                {% for error in form.unique_name.errors %}
                <p class="text add-instruction">{{ error }}</p>
                {% endfor %}
                {{ form.price.label }}<br>
                {{ form.price() }}<br>
                {% for error in form.price.errors %}
                <p class="text add-instruction">{{ error }}</p>
                {% endfor %}
                {{ form.description.label }}<br>
                {{ form.description() }}<br>
                {% for error in form.description.errors %}
                <p class="text add-instruction">{{ error }}</p>
                {% endfor %}
                {{ form.button() }}
            </form>
        </div>
    </div>
{% endblock %}
