{% extends "user_base.html" %}

{% block user_title %}Cart{% endblock %}

{% block user_head %}
    <meta name="page-name" content="{{ page_name }}">
{% endblock %}

{% block user_body %}

    <div class="cart-page">
        {% if cart_products %}

            <div class="total">
                <p class="text total">Total price</p>
                <p class="text total"><b class="total-price">{{ "₦{:,.0f}".format(total_price) }}</b></p>
            </div>

            <a class="text testimony-button checkout-button">Proceed to checkout ({{ cart_length }} items[s])</a>

            {% for product in cart_products %}
                {% for item in items %}
                    {% if product["item_id"] == item.id %}
                        <div class="text empty-cart hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x empty-cart" viewBox="0 0 16 16">
                                <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793z"/>
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                            <p class="text empty-cart">Your cart is empty.</p>
                            <p class="text cart-empty">You have not added any item to your cart yet.</p>
                        </div>

        
                        <div class="cart-item" data-item-id="{{ product['item_id'] }}">
                            <div class="item-grid">
                                <div class="product-image">
                                    <img class="product-image" alt="{{ item.name }}" src="{{ item.picture_url }}"/>
                                </div>
                                <p class="text product-title">{{ item.name }}</p>
                                <p class="text product-price">{{ "₦{:,.0f}".format(item.price) }}</p>
                                <div class="product-toggle">
                                    <div class="quantity-buttons amount-buttons" data-item-id="{{ item.id }}">
                                        <div class="item-button">
                                            <a class="text testimony-button toggle-quantity reduce-quantity toggle-amount reduce-amount" data-item-id="{{ item.id }}" data-quantity="{{ product['quantity'] }}" type="button" href="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg toggle-quantity toggle-amount" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
                                                </svg>
                                            </a>
                                        </div>
                                
                                        <p class="text item-quantity item-amount" data-item-id="{{ item.id }}">{{ product["quantity"] }}</p>

                                        <div class="item-button">
                                            <a class="text testimony-button toggle-quantity increase-quantity toggle-amount" data-item-id="{{ item.id }}" type="button" href="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg toggle-quantity toggle-amount" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-link">
                                    <a class="text product-link" href="{{ url_for('item', unique_name=item.unique_name) }}">View product</a>
                                </div>
                                <div class="delete-item">
                                    <a class="text delete-button delete-item" type="button" href="" data-item-id="{{ item.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash delete-item" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        {% else %}
            <div class="text empty-cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x empty-cart" viewBox="0 0 16 16">
                    <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793z"/>
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
                <p class="text empty-cart">Your cart is empty.</p>
                <p class="text cart-empty">You have not added any item to your cart yet.</p>
            </div>

        {% endif %}

        <a class="cart-holder" href="{{ url_for('cart') }}">
            <div class="item-count">
                <p class="text item-count"></p>
            </div>
            <svg class="bi bi-cart3 text cart" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
        </a>

        <div class="cart-background"></div>

    </div>
{% endblock %}
