{% extends "user_base.html" %}

{% block user_title %}Cart{% endblock %}

{% block user_head %}
    <meta name="page-name" content="{{ page_name }}">
{% endblock %}

{% block user_body %}

    <div class="cart-page">
        {% if items %}

            <div class="total">
                <p class="text total">Total price</p>
                <p class="text total"><b>₦132,800</b></p>
            </div>

            <a class="text testimony-button checkout-button">Proceed to checkout (1 items[s])</a>

            <div class="cart-item">
                <div class="item-grid">
                    <div class="product-image">
                        <img class="product-image" alt="item-image" src="../static/images/store/fashion.jpg"/>
                    </div>
                    <p class="text product-title">Jamie Arnold Men and Women High End Collection</p>
                    <p class="text product-price">₦3,686,302,600</p>
                    <div class="product-toggle">
                        <div class="quantity-buttons amount-buttons" data-item-id="">
                            <div class="item-button">
                                <a class="text testimony-button toggle-quantity reduce-quantity toggle-amount" data-item-id="" type="button" href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg toggle-quantity toggle-amount" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
                                    </svg>
                                </a>
                            </div>
                    
                            <p class="text item-quantity item-amount" data-item-id="">2</p>

                            <div class="item-button">
                                <a class="text testimony-button toggle-quantity increase-quantity toggle-amount" data-item-id="" type="button" href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg toggle-quantity toggle-amount" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-link">
                        <a class="text product-link" href="#">View product</a>
                    </div>
                </div>
                
            </div>

        {% else %}
            <div class="text empty-cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x empty-cart" viewBox="0 0 16 16">
                    <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793z"/>
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
                <p class="text empty-cart">Your cart is empty.</p>
                <p class="text cart-empty">You have not added any item to your cart yet.</p>
            </div>

        {% endif %}

        <a class="cart-holder" href="{{ url_for('cart') }}">
            <div class="item-count">
                <p class="text item-count"></p>
            </div>
            <svg class="bi bi-cart3 text cart" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
        </a>

        <div class="cart-background"></div>

    </div>
{% endblock %}
