{% extends "user_base.html" %}

{% block user_title %}Checkout{% endblock %}

{% block user_head %}
    <meta name="page-name" content="{{ page_name }}">
{% endblock %}

{% block user_body %}
    <div class="order-list">

        <p class="text order-time">{{ order_point.strftime("%B %d, %Y") }}, {{ order_point.strftime("%H:%M:%S UTC") }}</p>
        
        <div class="total">
            <p class="text total">Total</p>
            <p class="text total"><b class="total-price">{{ "₦{:,.0f}".format(total_price) }}</b></p>
        </div>

        {% for order in orders %}
            {% for item in items %}
                {% if order["item_id"] == item.id %}
                    <div class="cart-item">
                        <div class="item-grid">
                            <div class="product-image">
                                <img class="product-image" alt="{{ item.name }}" src="{{ item.picture_url }}"/>
                            </div>
                            <p class="text product-title">{{ item.name }}</p>
                            <p class="text product-price">{{ "₦{:,.0f}".format(item.price) }}</p>
                            <div class="product-toggle">
                                <div class="quantity-buttons amount-buttons item-frequency" data-item-id="{{ item.id }}">
                                    <p class="text item-quantity item-amount" data-item-id="{{ item.id }}">{{ order["quantity"] }} item(s).</p>
                                </div>
                            </div>
                            <div class="product-link">
                                <a class="text product-link" href="{{ url_for('item', unique_name=item.unique_name) }}">View product</a>
                            </div>
                        </div>
                        
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}


        
        
        <a class="text store-anchor" href="{{ url_for('store') }}#">Store</a>

        <a class="cart-holder" href="{{ url_for('cart') }}">
            <div class="item-count">
                <p class="text item-count"></p>
            </div>
            <svg class="bi bi-cart3 text cart" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
        </a>

        <a class="text orders-anchor" href="{{ url_for('orders') }}">Orders</a>
        <div class="cart-background"></div>
    </div>

{% endblock %}
