{% extends "user_base.html" %}

{% block user_title %}Settings{% endblock %}

{% block user_head %}
    <style>
        div.signup-card {
            min-width: 85vw;
        }
    </style>
{% endblock %}

{% block user_body %}
    <div class="signup-card">
            <div class="signup-form">
                <form action="{{ url_for('settings') }}" method="post" novalidate>
                    {{ form.csrf_token }}
                    {{ form.first_name.label }}<br>
                    {{ form.first_name() }}<br>
                    {% for error in form.first_name.errors %}
                    <p class="text signup-instruction">{{ error }}</p>
                    {% endfor %}
                    {{ form.last_name.label }}<br>
                    {{ form.last_name() }}<br>
                    {% for error in form.last_name.errors %}
                    <p class="text signup-instruction">{{ error }}</p>
                    {% endfor %}
                    {{ form.email.label }}<br>
                    <p class="text settings-email">{{ email }}</p><br>
                    {{ form.submit() }}
                </form>
            </div>
        </div>
{% endblock %}