{% extends "base.html" %}

{% block title %}Verify Email{% endblock %}

{% block head %}
    <style>
        div.verify-card::before {
            content: "verify";
            color: transparent;
            background-image: url( "{{ url_for('static', filename='images/phone-pencil.png') }}" );
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            filter: brightness(0.2);
            min-height: 100vh;
            min-width: 100vw;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="verify-holder">
        <p class="text verify-instruction">
            A code was sent to '{{ e_mail }}', verify by typing the code into the input box and clicking 'Submit'.
        </p>
    </div>
    <div class="verify-card">
        <div class="verify-form">
            <form class="verify-house" action="{{ url_for('verify_email', e_mail=e_mail) }}" method="post" novalidate>
                {{ form.csrf_token }}
                {{ form.input() }}<br>
                {% for error in form.input.errors %}
                <p class="text add-instruction">{{ error }}</p>
                {% endfor %}
                <!--  Flashed Messages  -->
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="text {{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!--  End of Flashed Messages  -->
                {{ form.submit() }}
                <a class="text resend-email" href="{{ url_for('resend_email', e_mail=e_mail) }}">Resend code</a>
            </form>
        </div>
    </div>
{% endblock %}
